<ion-content style="--background: #F5F5DC">
  <div class="custom-header">
    <img src="" alt="Gerden Logo" class="logo">
  </div>
  <div class="waves-effect">
    <svg transform="rotate(180)" width="100%" height="100" viewBox="0 0 600 100" xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none">
      <path
        d="M0,50 Q25,100 50,50 T100,50 T150,50 T200,50 T250,50 T300,50 T350,50 T400,50 T450,50 T500,50 T550,50 T600,50 V100 H0 Z"
        fill="white" />
    </svg>
  </div>
  <div class="wave-container">
    <svg viewBox="0 0 1440 320">
      <path fill="#4CAF50" fill-opacity="1"
        d="M0,128L80,144C160,160,320,192,480,197.3C640,203,800,181,960,186.7C1120,192,1280,224,1360,240L1440,256L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
      </path>
    </svg>
  </div>

  <h2 class="accueilTitreH1">BIENVENUE!</h2>
  <h5 class="accueilTitreH2">sur votre application Gerden</h5>

  <ion-card class="mission">
    <ion-card-content>
      <h1 style="color: #008CBA; font-weight: bold">
        Vous êtes chez vous ici !
      </h1>
      <br />
      <p>
        Gerden est une application mobile dédiée aux échanges et à la communication autour de sujets de programmation.
        Vous pouvez facilement naviguer entre plusieurs espaces pour discuter,
        poser des questions et partager vos expériences sur différents thèmes.
      </p>
      <br />
      <p>
        Dans l'onglet Forum, vous avez la possibilité de créer de nouveaux sujets,
        commenter ceux déjà existants, et interagir avec la communauté de développeurs.
        L'onglet Messagerie privée vous permet d'engager des conversations en tête-à-tête avec d'autres utilisateurs,
        afin de discuter de sujets plus spécifiques ou approfondir certaines thématiques.
      </p>
      <br />
      <p>
        Dans votre espace personnel, vous pouvez gérer vos discussions, suivre les réponses à vos sujets,
        et recevoir des notifications pour être informé en temps réel de l'activité sur vos sujets et messages.
        Gerden est conçu pour faciliter les échanges entre développeurs et
        fournir un espace collaboratif où chacun peut progresser et apprendre des autres.
      </p>
      <br />
      <p>
        N'hésitez pas à nous faire vos retours pour apporter des
        améliorations.
      </p>
      <br />
      <p>Belle navigation</p>
      <br />
      <h4 style="color: #008CBA">
        Gaël Minéas - Fondateur de l'application Gerden
      </h4>
    </ion-card-content>
  </ion-card>
</ion-content>